<div class="html">
  <div class="body">
    <div id="rendered-md"><h2 id="hypertext-markup-language-html">HyperText Markup Language - HTML</h2><hr/>
      <ul>
      <li>HTML works by surrounding text and graphics content appearing on the page with special codes instructing the browser on how to arrange and display this content.</li>
      <li>Markup codes, also called html tags or elements, are always enclosed inside “&lt;” and “&gt;” symbols to set them apart from the text content to which they apply.</li>
      <li>Normally, an “opening” tag indicates the beginning form of formatting( e.g. <code class="inline-code">&lt;h2&gt;</code>) an a separate “closing” tag indicates the ending point of formatting (e.g. <code class="inline-code">&lt;/h2&gt;</code>)</li>
      </ul>
      <h4 class="container" id="classes-of-html-tags">Classes Of HTML Tags</h4>
      <ol>
      <li><strong>Document layout tags:</strong> These tags are used to structure the html document. They organize the information content on a page so that text and graphical elements appear where you want them to appear. e.g. <code class="inline-code">&lt;p&gt; &lt;div&gt; &lt;span&gt;</code></li>
      <li><strong>Text formatting tags:</strong> These tags are used to apply font faces, styles and sizes and colors to text appearing on the page. e.g.<code class="inline-code"> &lt;font&gt; &lt;bold&gt; &lt;center&gt;</code></li>
      <li><strong>List formatting tags:</strong> They are used to organize text information into lists. These include bulleted lists, numbers and others. e.g. <code class="inline-code">&lt;ol&gt; &lt;ul&gt; &lt;li&gt;</code></li>
      <li><strong>Linking tags:</strong> They set up linkages between pages or different sections of the same page. e.g. <code class="inline-code">&lt;a&gt;</code></li>
      <li><strong>Table tags:</strong> They organize data in a tabular form, into rows and columns, for better presentation, readability and understanding.</li>
      <li><strong>Form tags:</strong> They are used to collect information from visitors inoder to capture data for processing or to solicit user preferences about displays.</li>
      <li><strong>Multimedia tags:</strong> They are used to link audio, videos, images and other media content on a webpage.</li>
      </ol>
      </div></div>
  </div>
</div>