<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li><strong>DISTINCT</strong> keyword is used in conjunction with <code class="inline-code">SELECT</code> to eliminate all duplicate records and return only the unique ones.</li>
<li>Syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT DISTINCT column_1, column_2
FROM table_name</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> <span class="hljs-keyword">DISTINCT</span> column_1, column_2
<span class="hljs-keyword">FROM</span> table_name</code></pre></div>
</li>
</ul>
</div></div>
    </div>
</div>