<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li>The <code class="inline-code">INSERT INTO</code> statement is used to add new rows of data to a table in a database.</li>
<li>Syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">INSERT INTO table_name
VALUES(val1, val2, val3, ...)</pre><pre class="hljs"><code><span class="hljs-keyword">INSERT</span> <span class="hljs-keyword">INTO</span> table_name
<span class="hljs-keyword">VALUES</span>(val1, val2, val3, ...)</code></pre></div>
</li>
<li>Make sure the order of the values is the same order as the columns in the table.</li>
<li>Alternate syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">INSERT INTO table_name(col1, col2, col3, ...)
VALUES(val1, val2, val3, ...)</pre><pre class="hljs"><code><span class="hljs-keyword">INSERT</span> <span class="hljs-keyword">INTO</span> table_name(col1, col2, col3, ...)
<span class="hljs-keyword">VALUES</span>(val1, val2, val3, ...)</code></pre></div>
<blockquote>
<p>Any order can be specified as long as the values goes into their respective columns.<br>
Data can also be inserted into specific columns only.</p>
</blockquote>
</li>
</ul>
</div></div>
    </div>
</div>