<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="sql-structured-query-language">SQL - Structured Query Language</h2>
<hr>
<ul>
<li>A database is a collection of data that is organised in a manner that facilitates ease of access, as well as efficient managing and updating.</li>
<li>A table has a specified number of columns but can any number of rows.</li>
<li>A field are the columns and the records are rows.</li>
<li>A primary key is field in a table that uniquely identifies the table records.
<ul>
<li>New unique value for each row.</li>
<li>Cannot contain null values.</li>
</ul>
</li>
</ul>
<h2 id="uses-of-sql">Uses of SQL</h2>
<ul>
<li>Insert, update or delete records in a database.</li>
<li>Create new databases, table, stored procedure, views.</li>
<li>Retrieve data from a database.</li>
<li>Execute queries against a database.</li>
<li>Set permissions on table, procedure and views.</li>
</ul>
<blockquote>
<p>SQL is an ANSI(American National Standards Institute) standard, but there are different versions.</p>
</blockquote>
</div></div>
    </div>
</div>