<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li>Always end SQL statements with a semi-colon(;)</li>
<li>SQL commands are case insensitive</li>
<li>Multiple arguements are separated by comma</li>
<li>The table name can be provided prior to the column name, by separating them with a dot(.). It is also called the fully qualified name. E.g.<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT City FROM Customers
#is the same as 
SELECT Customers.City FROM Customers</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> City <span class="hljs-keyword">FROM</span> Customers
<span class="hljs-comment">#is the same as </span>
<span class="hljs-keyword">SELECT</span> Customers.City <span class="hljs-keyword">FROM</span> Customers</code></pre></div>
<blockquote>
<p>It is normally used when multiple tables have the same column name.</p>
</blockquote>
</li>
</ul>
<h4 id="other-functions">Other Functions</h4>
<ul>
<li><code class="inline-code">UPPER()</code>: converts all letters in specified string into uppercase.</li>
<li><code class="inline-code">LOWER()</code>: converts string into lowercase.</li>
<li><code class="inline-code">SQRT()</code>: returns the square root of a given value in the arguement.</li>
<li><code class="inline-code">AVG()</code>: returns the average value of a numeric column.</li>
<li><code class="inline-code">SUM()</code>: returns the sum of values in a numeric column.</li>
<li><code class="inline-code">MIN()</code>: used to return the minimum value of an expression in the <code class="inline-code">SELECT</code> command.</li>
</ul>
</div></div>
    </div>
</div>