<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li>There are 2 types of operators:
<ul>
<li>Conditional operators</li>
<li>Logical opeerators</li>
</ul>
</li>
</ul>
<h2 id="conditional-operators">Conditional Operators</h2>
<table>
<thead>
<tr>
<th>Operator</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>=</td>
<td>equal to</td>
</tr>
<tr>
<td>!=</td>
<td>not equal to</td>
</tr>
<tr>
<td>&gt;</td>
<td>greater than</td>
</tr>
<tr>
<td>&lt;</td>
<td>less than</td>
</tr>
<tr>
<td>&lt;=</td>
<td>less than or equal to</td>
</tr>
<tr>
<td>&gt;=</td>
<td>greater than or equal to</td>
</tr>
<tr>
<td>BETWEEN</td>
<td>between an inclusive range</td>
</tr>
</tbody>
</table>
<h4 id="between-operator">BETWEEN Operator</h4>
<p>Sample usage:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT column_name FROM table_name
WHERE column_ name BETWEEN value1 AND value2</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> column_name <span class="hljs-keyword">FROM</span> table_name
<span class="hljs-keyword">WHERE</span> column_ <span class="hljs-keyword">name</span> <span class="hljs-keyword">BETWEEN</span> value1 <span class="hljs-keyword">AND</span> value2</code></pre></div>
<h2 id="logical-operator">Logical Operator</h2>
<p>It combines two logical values and return a result of True, False or Null.</p>
<table>
<thead>
<tr>
<th>Operator</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>AND</td>
<td>Returns True if both expressions are true</td>
</tr>
<tr>
<td>OR</td>
<td>Returns True if either expressions are true</td>
</tr>
<tr>
<td>IN</td>
<td>Returns True if one of the operand is equal to one of a list of expressions</td>
</tr>
<tr>
<td>NOT</td>
<td>Returns True if expression is not true</td>
</tr>
<tr>
<td>NOT IN</td>
<td>Allows you to exclude a list of specific values from the result-set.</td>
</tr>
</tbody>
</table>
<h4 id="in-operator">IN Operator</h4>
<ul>
<li>Allows you to specify more values in the <code class="inline-code">WHERE</code> 'clause'.</li>
<li>Comes in use in replace of multiple <code class="inline-code">OR</code><br>
Sample:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT * FROM customers
WHERE city IN ('N', 'L', 'C')</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> * <span class="hljs-keyword">FROM</span> customers
<span class="hljs-keyword">WHERE</span> city <span class="hljs-keyword">IN</span> (<span class="hljs-string">&#x27;N&#x27;</span>, <span class="hljs-string">&#x27;L&#x27;</span>, <span class="hljs-string">&#x27;C&#x27;</span>)</code></pre></div>
</li>
</ul>
</div></div>
    </div>
</div>