<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li><strong>ORDER BY</strong> is used with <code class="inline-code">SELECT</code> to sort the returned data.</li>
<li>Sample:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT * FROM Customers
ORDER BY FirstName ;</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> * <span class="hljs-keyword">FROM</span> Customers
<span class="hljs-keyword">ORDER</span> <span class="hljs-keyword">BY</span> FirstName ;</code></pre></div>
</li>
<li>It is in ascending order by default.</li>
<li>To change the order type to ascending or decending, use <code class="inline-code">ASC</code> and <code class="inline-code">DESC</code> respectively.</li>
</ul>
</div></div>
    </div>
</div>