<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li><strong>SELECT</strong> is used to select data from a database. It is stored in a result table called result-set.</li>
<li>Syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT column_list
FROM table_name</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> column_list
<span class="hljs-keyword">FROM</span> table_name</code></pre></div>
</li>
<li>A query may retrieve information from selected or all columns in a table.</li>
<li>To select all columns in a table:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="sql" data-joplin-source-open="```sql&#10;" data-joplin-source-close="&#10;```">SELECT * FROM table_name</pre><pre class="hljs"><code><span class="hljs-keyword">SELECT</span> * <span class="hljs-keyword">FROM</span> table_name</code></pre></div>
</li>
</ul>
<blockquote>
<p>In SQL asterisk(*) means all.</p>
</blockquote>
</div></div>
    </div>
</div>