<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li><strong>SHOW</strong> displays information contained in the database and its tables.</li>
<li><code class="inline-code">SHOW DATABASES</code> returns the list of all the databases on the server.</li>
<li><code class="inline-code">SHOW TABLES</code> returns all the list of the tables in a database.</li>
<li><code class="inline-code">SHOW COLUMNS</code> displays information about columns in a given table. It displays the following values:
<ul>
<li>Field: Column name</li>
<li>Type: Column data type</li>
<li>Key: Indicates whether a column is indexed</li>
<li>Default: Default value assigned to column</li>
<li>Extra: May contain any additional information that is available about a given column.</li>
</ul>
</li>
</ul>
</div></div>
    </div>
</div>