<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="exceptions">Exceptions</h2>
<ul>
<li><strong>ImportError:</strong> An import fails.</li>
<li><strong>IndexError:</strong> A list is indexed out of range.</li>
<li><strong>NameError:</strong> Unknown variable is used.</li>
<li><strong>SyntaxError:</strong> Code can't be parsed properly.</li>
<li><strong>TypeError:</strong> A function is called on a value of in inappropriate type.</li>
<li><strong>ValueError:</strong> A function is called with the correct type but of an inappropriate value.</li>
</ul>
<h2 id="handling-errors">Handling Errors</h2>
<p>Syntax</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="python" data-joplin-source-open="```python&#10;" data-joplin-source-close="&#10;```">try:
    #Statements to be tested for errors
except:
    #Code to run if an error occurs
finally:
    #Code runs whether there's an error or not</pre><pre class="hljs"><code><span class="hljs-keyword">try</span>:
    <span class="hljs-comment">#Statements to be tested for errors</span>
<span class="hljs-keyword">except</span>:
    <span class="hljs-comment">#Code to run if an error occurs</span>
<span class="hljs-keyword">finally</span>:
    <span class="hljs-comment">#Code runs whether there&#x27;s an error or not</span></code></pre></div>
<p>Exceptions can also be raised between code using logic; E.g.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="python" data-joplin-source-open="```python&#10;" data-joplin-source-close="&#10;```">raise exception_name(&quot;message&quot;)</pre><pre class="hljs"><code><span class="hljs-keyword">raise</span> exception_name(<span class="hljs-string">&quot;message&quot;</span>)</code></pre></div>
</div></div>
    </div>
</div>