<div id="preview">
  <h3 class="code-line" data-line-start="0" data-line-end="1">
    <a id="If_Statements_0"></a>If Statements
  </h3>
  <p class="has-line-data" data-line-start="1" data-line-end="2">Syntax:</p>
  <pre><code class="has-line-data" data-line-start="3" data-line-end="10" class="language-python"><span class="hljs-keyword">if</span> expression:
    statements
<span class="hljs-keyword">elif</span> expression:
    statements
<span class="hljs-keyword">else</span>:
    statements
</code></pre>
  <h3 class="code-line" data-line-start="0" data-line-end="1">
    <a id="While_Loops_0"></a>While Loops
  </h3>
  <p class="has-line-data" data-line-start="1" data-line-end="3">
    The statements run repeatedly as long as condition holds. If it’s False, it
    moves to the next codeblock.<br />
    Syntax:
  </p>
  <pre><code class="has-line-data" data-line-start="4" data-line-end="7" class="language-python"><span class="hljs-keyword">while</span> expression:
        statements
    </code></pre>
  <p class="has-line-data" data-line-start="7" data-line-end="8">
    To end a loop prematurely, the <code>break</code> keyword is used. Using the
    <code>continue</code> keyword, the code jumps back to the top of the loop.
  </p>
  <h3 class="code-line" data-line-start="9" data-line-end="10">
    <a id="Range_keyword_9"></a><code>Range</code> keyword
  </h3>
  <p class="has-line-data" data-line-start="10" data-line-end="12">
    It is a function that generates a list of sequential numbers.<br />
    Syntax:
  </p>
  <pre><code class="has-line-data" data-line-start="13" data-line-end="17" class="language-python">range(number)
    range(start, end, stop)
    range(start, end)
    </code></pre>
  <h3 class="code-line" data-line-start="18" data-line-end="19">
    <a id="For_Loop_18"></a>For Loop
  </h3>
  <pre><code class="has-line-data" data-line-start="20" data-line-end="23" class="language-python"><span class="hljs-keyword">for</span> expression:
        statement
    </code></pre>
</div>
