<div class="html">
	<div class="body">
<div id="rendered-md"><h2 id="if-statements">If Statements</h2>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="python" data-joplin-source-open="```python&#10;" data-joplin-source-close="&#10;```">if expression:
    #statements
elif expression:
    #statements
else:
    #statements</pre><pre class="hljs"><code><span class="hljs-keyword">if</span> expression:
    <span class="hljs-comment">#statements</span>
<span class="hljs-keyword">elif</span> expression:
    <span class="hljs-comment">#statements</span>
<span class="hljs-keyword">else</span>:
    <span class="hljs-comment">#statements</span></code></pre></div>
<h2 id="while-loops">While Loops</h2>
<p>The statements run repeatedly as long as condition holds. If it’s False, it moves to the next codeblock.<br>
Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="python" data-joplin-source-open="```python&#10;" data-joplin-source-close="&#10;```">while expression:
        #statements</pre><pre class="hljs"><code><span class="hljs-keyword">while</span> expression:
        <span class="hljs-comment">#statements</span></code></pre></div>
<p>To end a loop prematurely, the <code class="inline-code">break</code> keyword is used. Using the <code class="inline-code">continue</code> keyword, the code jumps back to the top of the loop.</p>
<h2 id="range-keyword"><code class="inline-code">Range</code> keyword</h2>
<p>It is a function that generates a list of sequential numbers.<br>
Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="python" data-joplin-source-open="```python&#10;" data-joplin-source-close="&#10;```">range(number)
range(start, end, stop)
range(start, end)</pre><pre class="hljs"><code>range(number)
range(start, end, stop)
range(start, end)</code></pre></div>
<h2 id="for-loop">For Loop</h2>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="python" data-joplin-source-open="```python&#10;" data-joplin-source-close="&#10;```">for expression:
    #statement </pre><pre class="hljs"><code><span class="hljs-keyword">for</span> expression:
    <span class="hljs-comment">#statement </span></code></pre></div>
</div></div>
</div>
</div>