h1.head {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: aquamarine;
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 8px;
  position: relative;
  float: left;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  text-align: center;
}

a,
a:active,
a:visited {
  color: #0000ff;
  text-decoration: None;
}

/* #### Mobile Phones Portrait or Landscape #### */
@media only screen and (max-device-width: 640px) {
  html,
  body,
  .container,
  .head {
    width: auto;
    text-decoration: none;
  }
  .card {
    width: 30vw;
  }
}


/* #### Tablets Portrait #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: Portrait) {
  html,
  body,
  .container,
  .head {
    width: auto;
    text-decoration: none;
  }
  .card {
    width: 30vw;
  }
}


@media only screen and (max-width: 640px) {
  html,
  body,
  .container,
  .head {
    width: auto;
    text-decoration: none;
  }
  .card {
    width: 30vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html,
  body,
  .container,
  .head {
    width: auto;
    text-decoration: none;
  }
  .card {
    width: 30vw;
  }
}