<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="background-repeat-property">Background-repeat Property</h2>
<ul>
<li>Specifies how background images are repeated.</li>
<li>Values:
<ul>
<li><strong><code class="inline-code">repeat-x</code>:</strong> repeats a background image only horizontally.</li>
<li><strong><code class="inline-code">repeat-y</code>:</strong> repeats a background image only vertically.</li>
<li><strong><code class="inline-code">no-repeat</code>:</strong> shows image only once. (<code class="inline-code">50% 50%</code> --&gt; from center)</li>
</ul>
</li>
</ul>
<p>Samples:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background-repeat</span>: repeat-x;
    <span class="hljs-attribute">background-repeat</span>: repeat-y;
    <span class="hljs-attribute">background-repeat</span>: no-repeat;
}</code></pre></div>
<h2 id="background-attachment-property">Background-attachment Property</h2>
<p>Values:</p>
<ul>
<li><strong><code class="inline-code">inherit</code>:</strong> It will inherit the value from its parent element.</li>
<li><strong><code class="inline-code">scroll</code>:</strong> It will scroll with the rest of the content.</li>
</ul>
<p>Sample:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background-attachment: scroll;
    background-attachment: inherit;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background-attachment</span>: scroll;
    <span class="hljs-attribute">background-attachment</span>: inherit;
}</code></pre></div>
</div></div>
    </div>
</div>