<div class="html">
    <div class="body">
<div id="rendered-md">
<ul>
<li>Supported file types: &quot;.ttf&quot; and &quot;.otf&quot;</li>
</ul>
<blockquote>
<p>Internet Explorer only supports &quot;.eot&quot; files.</p>
</blockquote>
<ul>
<li>It allows the addition of fonts outside the computer's memory.</li>
</ul>
<p>Sample:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">@font-face {
    font-family: Delicious;
    src: url(&quot;Delicious-Roman.otf&quot;);
}

/*To fix internet explorer bugs*/
@font-face {
    font-family: Delicious;
    src: url(&quot;Delicious-Roman.otf&quot;);
    src: url(&quot;Delicious-Roman.eot?iefix&quot;);
}</pre><pre class="hljs"><code><span class="hljs-keyword">@font-face</span> {
    <span class="hljs-attribute">font-family</span>: Delicious;
    <span class="hljs-attribute">src</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">&quot;Delicious-Roman.otf&quot;</span>);
}

<span class="hljs-comment">/*To fix internet explorer bugs*/</span>
<span class="hljs-keyword">@font-face</span> {
    <span class="hljs-attribute">font-family</span>: Delicious;
    <span class="hljs-attribute">src</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">&quot;Delicious-Roman.otf&quot;</span>);
    <span class="hljs-attribute">src</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">&quot;Delicious-Roman.eot?iefix&quot;</span>);
}</code></pre></div>
</div></div>
    </div>
</div>