<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="linear-gradients">Linear Gradients</h2>
<ul>
<li>Creates a smooth transition between more than one color.<br>
E.g.<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background: linear-gradient(deepSkyBlue, black);
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background</span>: <span class="hljs-built_in">linear-gradient</span>(deepSkyBlue, black);
}</code></pre></div>
</li>
</ul>
<h4 id="defining-color-stops">Defining Color Stops</h4>
<ul>
<li>Done using px, % or em values.<br>
E.g.<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background: linear-gradient(blue 20%, yellow 30%);
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background</span>: <span class="hljs-built_in">linear-gradient</span>(blue <span class="hljs-number">20%</span>, yellow <span class="hljs-number">30%</span>);
}</code></pre></div>
</li>
</ul>
<h4 id="defining-directions">Defining Directions</h4>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background: linear-gradient(left, blue, green);
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background</span>: <span class="hljs-built_in">linear-gradient</span>(left, blue, green);
}</code></pre></div>
<ul>
<li>Other direction values include:
<ul>
<li>bottom</li>
<li>right</li>
<li>top</li>
<li>bottom-right</li>
<li>bottom-left</li>
<li>top-left</li>
<li>top-right</li>
</ul>
</li>
</ul>
<h4 id="repeating-a-linear-gradient">Repeating A Linear Gradient</h4>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background: repeating-linear-gradient(blue, green 20px);
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background</span>: <span class="hljs-built_in">repeating-linear-gradient</span>(blue, green <span class="hljs-number">20px</span>);
}</code></pre></div>
<h2 id="radial-gradients">Radial Gradients</h2>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    background: radial-gradient(position, shape or size, color-stops);
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">background</span>: <span class="hljs-built_in">radial-gradient</span>(position, shape or size, color-stops);
}</code></pre></div>
<ul>
<li>Positions: left, right, ...</li>
<li>Shape: ellipse, circle.</li>
<li>Color-stops: color combinations.</li>
</ul>
</div></div>
    </div>
</div>