<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="list-style-type-property">List-style-type Property</h2>
<p>Some values include:</p>
<ul>
<li>square</li>
<li>cicrle</li>
<li>decimal</li>
<li>lower alpha</li>
<li>disc</li>
</ul>
<h2 id="list-style-image-property">List-style-image Property</h2>
<p>Specifies an image to be used as the list item marker.</p>
<h2 id="list-style-position-property">List-style-position Property</h2>
<ul>
<li>Specifies the position of the marker box.</li>
<li>Values:
<ul>
<li>inside</li>
<li>outside</li>
</ul>
</li>
</ul>
<p>Sample:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    list-style-image: url(&quot;img.jpg&quot;);
    list-style-position: inside;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">list-style-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">&quot;img.jpg&quot;</span>);
    <span class="hljs-attribute">list-style-position</span>: inside;
}</code></pre></div>
<h2 id="list-style-property">List-style Property</h2>
<p>It is a short hand property for setting <em>list-style-type</em>, <em>list-style-image</em> and <em>list-style-position</em><br>
E.g.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">ul {
    list-style: square outside none;
}</pre><pre class="hljs"><code><span class="hljs-selector-tag">ul</span> {
    <span class="hljs-attribute">list-style</span>: square outside none;
}</code></pre></div>
</div></div>
    </div>
</div>