<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="circle-with-css">Circle with CSS</h2>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">.circle {
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
/* Note that border-radius is half of width and height size */</pre><pre class="hljs"><code><span class="hljs-selector-class">.circle</span> {
    <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid blue;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">100px</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">100px</span>;
    <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">50px</span>;
}
<span class="hljs-comment">/* Note that border-radius is half of width and height size */</span></code></pre></div>
<ul>
<li>Add (border: 0;) in the style to remove borders around images as a link.</li>
</ul>
<h2 id="browser-prefixes">Browser Prefixes</h2>
<table>
<thead>
<tr>
<th>Browser</th>
<th>Prefix</th>
</tr>
</thead>
<tbody>
<tr>
<td>Firefox</td>
<td>-moz-</td>
</tr>
<tr>
<td>Safari</td>
<td>-webkit-</td>
</tr>
<tr>
<td>Chrome</td>
<td>-webkit-</td>
</tr>
<tr>
<td>Opera</td>
<td>-o-</td>
</tr>
<tr>
<td>Internet Explorer</td>
<td>-ms-</td>
</tr>
</tbody>
</table>
</div></div>
    </div>
</div>