<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li>Specifies shadows to elements.</li>
<li>The order is:
<ol>
<li>horizontal offset</li>
<li>vertical offset</li>
<li>blur</li>
<li>spread</li>
<li>color</li>
</ol>
</li>
</ul>
<p>Sample:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    box-shadow: 10px 10px #0000ff;
    box-shadow: 10px 10px 5px 5px #f0f0f0;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">10px</span> <span class="hljs-number">10px</span> <span class="hljs-number">#0000ff</span>;
    <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">10px</span> <span class="hljs-number">10px</span> <span class="hljs-number">5px</span> <span class="hljs-number">5px</span> <span class="hljs-number">#f0f0f0</span>;
}</code></pre></div>
<p>ra</p>
<blockquote>
<p>The two values before the color is blur and spread.<br>
Negative values are allowed for oopsite direction.</p>
</blockquote>
<ul>
<li>The <strong><code class="inline-code">inset</code></strong> keyword will draw an inner shadow into the box.<br>
E.g.</li>
</ul>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    box-shadow: inset 10px 10px #000000;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">box-shadow</span>: inset <span class="hljs-number">10px</span> <span class="hljs-number">10px</span> <span class="hljs-number">#000000</span>;
}</code></pre></div>
<blockquote>
<p>Multiple shodows are added by separating them by comma.</p>
</blockquote>
<ul>
<li>Transparency Effect (<code class="inline-code">opacity</code>) have values between 0 and 1. E.g. <code class="inline-code">opacity: 0;</code></li>
</ul>
<blockquote>
<p>0 is fully transparent, 1 is fully opaque.</p>
</blockquote>
</div></div>
    </div>
</div>