<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="text-decoration">Text Decoration</h2>
<p>Values: <em>underline</em>, <em>overline</em>, <em>line-through</em>, <em>blink</em>, <em>none</em>.<br>
E.g.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{text-decoration: none;}</pre><pre class="hljs"><code>{<span class="hljs-attribute">text-decoration</span>: none;}</code></pre></div>
<blockquote>
<p>To add multiple values, separate with spaces.</p>
</blockquote>
<h2 id="text-shadow">Text Shadow</h2>
<p>It takes 4 values:</p>
<ul>
<li>The 1st value defines the distance of the shadow in the x (horizontal) direction.</li>
<li>The 2nd value sets the distance in the y (vertical) direction.</li>
<li>The 3rd value defines the blur of the shadow.</li>
<li>The 4th value sets the color.</li>
</ul>
<p>E.g.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{text-shadow: 5px 2px 4px grey;}</pre><pre class="hljs"><code>{<span class="hljs-attribute">text-shadow</span>: <span class="hljs-number">5px</span> <span class="hljs-number">2px</span> <span class="hljs-number">4px</span> grey;}</code></pre></div>
<blockquote>
<p>To add more than one shadow to the text, add a comma separated by a list of shadows.</p>
</blockquote>
<h2 id="text-transform">Text Transform</h2>
<p>It specifies how to capitalize text containing elements. You can make it capitalized, all uppercase, or all lowercase.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">text-transform</span>: capitalize;
    <span class="hljs-attribute">text-transform</span>: uppercase;
    <span class="hljs-attribute">text-transform</span>: lowercase;
}</code></pre></div>
</div></div>
    </div>
</div>