<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="transition-property">Transition Property</h2>
<ul>
<li>Specifies the property to be transitioned.<br>
E.g.<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    transition: transform 5s ease-in;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">transition</span>: transform <span class="hljs-number">5s</span> ease-in;
}</code></pre></div>
</li>
</ul>
<h4 id="transition-duration-property">Transition-duration Property</h4>
<ul>
<li>Specifies the duration over which transitions should occur.</li>
</ul>
<h4 id="transition-timing-function-property">Transition-timing-function Property</h4>
<ul>
<li>Specifies how the pace of the transition changes over it's duraation.</li>
<li>Values:
<ul>
<li><strong>ease:</strong> It starts slowly, then accelerates quickly.</li>
<li><strong>ease-in:</strong> Starts slowly, then accelerates, and stops abruptly.</li>
<li><strong>ease-out:</strong> Starts quickly, but decelerates to a stop.</li>
<li><strong>ease-in-out:</strong> Similar to ease, but more subtle acceleration and deceleration.</li>
<li><strong>linear:</strong> constant speed throughout the animation; often best for color or opacity changes.</li>
</ul>
</li>
</ul>
<h4 id="transition-delay-property">Transition-delay Property</h4>
<ul>
<li>Specifies a delay (in seconds) for the transition effect.</li>
</ul>
</div></div>
    </div>
</div>