<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="white-spaces">White Spaces</h2>
<ul>
<li>It specifies how white spaces inside an element is handled.</li>
<li>Values: <em>normal</em>, <em>inherit</em>, <em>nowrap</em>, <em>pre</em>, <em>pre-line</em>, <em>pre-wrap</em></li>
<li>The <strong><code class="inline-code">nowrap</code></strong> value makes the text continue on the same line until a <code class="inline-code">&lt;br/&gt;</code> tag is encountered and also collapses all sequences of whitespace into a single whitespace.</li>
<li><strong><code class="inline-code">pre</code>:</strong> text will only wrap on line breaks and whitespace.</li>
<li><strong><code class="inline-code">pre-line</code>:</strong> text will wrap when there is a break in code, but extra white space is still ignored.</li>
<li><strong><code class="inline-code">pre-wrap</code>:</strong> text will wrap when necessary, and on line breaks.</li>
</ul>
<p>E.g.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{white-space: inherit;}</pre><pre class="hljs"><code>{<span class="hljs-attribute">white-space</span>: inherit;}</code></pre></div>
<h2 id="word-wrap">Word wrap</h2>
<ul>
<li>Allows long words to be broken into the next line.</li>
<li>Values:
<ul>
<li>normal</li>
<li>break-word</li>
</ul>
</li>
</ul>
<p>E.g.</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="css" data-joplin-source-open="```css&#10;" data-joplin-source-close="&#10;```">{
    word-wrap: normal;
    word-wrap: break-word;
}</pre><pre class="hljs"><code>{
    <span class="hljs-attribute">word-wrap</span>: normal;
    <span class="hljs-attribute">word-wrap</span>: break-word;
}</code></pre></div>
</div></div>
    </div>
</div>