<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li>Scripts can be added in 3 ways:
<ul>
<li>In the <code class="inline-code">&lt;head&gt;</code> section: It loads first.</li>
<li>In at the end of the <code class="inline-code">&lt;body&gt;</code>: It loads last.</li>
<li>Externally: <code class="inline-code">&lt;script src=&quot;demo.js&quot;&gt;&lt;/script&gt;</code></li>
</ul>
</li>
<li>Comments can be added into code using <code class="inline-code">//</code> or <code class="inline-code">/* */</code></li>
</ul>
</div></div>
    </div>
</div>