<div class="html">
    <div class="body">
<div id="rendered-md"><blockquote>
<p>Variables are containers used for storing values.</p>
</blockquote>
<ul>
<li>
<p>Setting variables can be done in 3 ways:</p>
<ul>
<li><strong>var</strong>: For global variables</li>
<li><strong>let</strong>: with let, you can re-assign values</li>
<li><strong>const</strong>: You cannot re-assign values</li>
</ul>
</li>
<li>
<p>Primitive Data Types</p>
<ul>
<li>Strings</li>
<li>Numbers</li>
<li>Boolean</li>
<li>null</li>
<li>undefined</li>
<li>Symbol</li>
</ul>
</li>
</ul>
<p>Sample:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="js" data-joplin-source-open="```js&#10;" data-joplin-source-close="&#10;```">const iden = &quot;John&quot;;
const years = 30;
const isCool = true;
const rating = 2.5;
const x = null;
const y = undefined;
let z; The same as const z = undefined
/* typeof method returns the data type of a variable */
console.log(typeof years);  see the datatype</pre><pre class="hljs"><code><span class="hljs-keyword">const</span> iden = <span class="hljs-string">&quot;John&quot;</span>;
<span class="hljs-keyword">const</span> years = <span class="hljs-number">30</span>;
<span class="hljs-keyword">const</span> isCool = <span class="hljs-literal">true</span>;
<span class="hljs-keyword">const</span> rating = <span class="hljs-number">2.5</span>;
<span class="hljs-keyword">const</span> x = <span class="hljs-literal">null</span>;
<span class="hljs-keyword">const</span> y = <span class="hljs-literal">undefined</span>;
<span class="hljs-keyword">let</span> z; The same <span class="hljs-keyword">as</span> <span class="hljs-keyword">const</span> z = <span class="hljs-literal">undefined</span>
<span class="hljs-comment">/* typeof method returns the data type of a variable */</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> years);  see the datatype</code></pre></div>
<h4 id="naming-rules">Naming Rules</h4>
<ul>
<li>The first letter must be a character, underscore(_) or a dollar sign($).</li>
<li>Numbers are not allowed as the first character.</li>
<li>Cannot include a mathematical or logical operator.</li>
<li>Must not contain spaces.</li>
<li>Hypens(-) are not allowed, it is reserved for subtraction.</li>
</ul>
</div></div>
    </div>
</div>