{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="_home">Welcome To My Personal Reference WebApp</h1>
    {% for link in nav %}
    <a href="{{ url_for(link.url) }}">
    <div class="card" style="background-color: azure;">
        <div class="container">
            <img src='{{ link.img }}' alt="img"/>
            <h4 class="_home">{{ link.name }}</h4>
            <p class="_home">{{ link.memo }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

    <div style="position: relative; float: left;">
      <footer>
        <p class="mt-5 mb-3 text-center text-muted">&copy; 2021 David Saah</p>
      </footer>
    </div>
{% endblock %}