<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>Cipher's Reference - {{ title }}</title>
    {% else %}
    <title>Cipher's Reference</title>
    {% endif %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="{{ description }}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-196192381-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-196192381-1");
    </script>-->

    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="pluginAssets/katex/katex.css") }}'
    />
    <script
      type="application/javascript"
      src='{{ url_for("static", filename="pluginAssets/mermaid/mermaid.min.js") }}'
    ></script>
    <script
      type="application/javascript"
      src='{{ url_for("static", filename="pluginAssets/mermaid/mermaid_render.js") }}'
    ></script>
    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="pluginAssets/highlight.js/atom-one-light.css") }}'
    />
    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="css/main.css") }}'
    />
    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="css/bootstrap.min.css") }}'
    />
  </head>
  <body>
    {% include 'joplin.html' %} {% block content %}{% endblock %}
  </body>
</html>
