<div class="html">
    <div class="body">
        <div id="rendered-md"><h2 id="declaring-an-array">Declaring An Array</h2>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">data_type variable_name[No._of_elements] = {};

//example
int arr[5] = {1, 5, 8, 78, 752};</pre><pre class="hljs"><code>data_type variable_name[No._of_elements] = {};

<span class="hljs-comment">//example</span>
<span class="hljs-keyword">int</span> arr[<span class="hljs-number">5</span>] = {<span class="hljs-number">1</span>, <span class="hljs-number">5</span>, <span class="hljs-number">8</span>, <span class="hljs-number">78</span>, <span class="hljs-number">752</span>};</code></pre></div>
<blockquote>
<p>Index starts from 0<br>
Arrays can also be initialised using a loop<br>
If the sixe of the array is omitted, it can hold any amount of data. E.g. <code class="inline-code">var[0]</code></p>
</blockquote>
<h2 id="multi-dimensional-array">Multi-Dimensional Array</h2>
<ul>
<li>Syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">data_type name[size 1][size 2]....[size n]

//example
int var[3][4] 	//(3 x 4 array)
// where 3 is the number of arrays and 4 is the number of elements in each array</pre><pre class="hljs"><code>data_type name[size <span class="hljs-number">1</span>][size <span class="hljs-number">2</span>]....[size n]

<span class="hljs-comment">//example</span>
<span class="hljs-keyword">int</span> var[<span class="hljs-number">3</span>][<span class="hljs-number">4</span>] 	<span class="hljs-comment">//(3 x 4 array)</span>
<span class="hljs-comment">// where 3 is the number of arrays and 4 is the number of elements in each array</span></code></pre></div>
</li>
<li>They are initialised by specifying bracket values for each row. E.g.<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">int arr[2][3] = {
    {2, 3, 4}, 
    {8, 9, 10}
};</pre><pre class="hljs"><code><span class="hljs-keyword">int</span> arr[<span class="hljs-number">2</span>][<span class="hljs-number">3</span>] = {
    {<span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>}, 
    {<span class="hljs-number">8</span>, <span class="hljs-number">9</span>, <span class="hljs-number">10</span>}
};</code></pre></div>
</li>
</ul>
</div></div>
    </div>
</div>