{% extends 'layout.html' %} {% block icon %}
<link
  rel="icon"
  href="{{ url_for('static', filename='img/cpp.png') }}"
  type="image/x-icon"
/>
{% endblock %} {% block content %}
<div class="__main">
  <div class="main__heading">
    <div class="main__button">
      <a href="/"><button class="btn btn-primary align-right">Back</button></a>
    </div>
    <img src="{{ url_for('static', filename='img/cpp.png')}}" alt="cpp-icon" />
    <h2 class="title">C++ Reference</h2>
  </div>
</div>
<article class="my-3" id="accordion">
  <div>
    <div class="bd-example">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item" style="background-color: azure">
          <h4 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
              style="background-color: azure"
            >
              Introduction
            </button>
          </h4>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">{% include 'cpp/intro.html' %}</div>
          </div>
        </div>

        {% for val in block %}
        <div class="accordion-item" style="background-color: azure">
          <h4 class="accordion-header" id="{{ val.id }}">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#{{ val.data }}"
              aria-expanded="false"
              aria-controls="{{ val.data }}"
              style="background-color: azure"
            >
              {{ val.heading }}
            </button>
          </h4>
          <div
            id="{{ val.data }}"
            class="accordion-collapse collapse"
            aria-labelledby="{{ val.id }}"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">{% include val.url %}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
