<div class="html">
    <div class="body">
<div id="rendered-md"><div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">#include &lt;iostream&gt;

using namespace std;

int main() {
        cout &lt;&lt; &quot;Hello World!&quot;;
        return 0;
}</pre><pre class="hljs"><code><span class="hljs-meta">#<span class="hljs-meta-keyword">include</span> <span class="hljs-meta-string">&lt;iostream&gt;</span></span>

<span class="hljs-keyword">using</span> <span class="hljs-keyword">namespace</span> <span class="hljs-built_in">std</span>;

<span class="hljs-function"><span class="hljs-keyword">int</span> <span class="hljs-title">main</span><span class="hljs-params">()</span> </span>{
        <span class="hljs-built_in">cout</span> &lt;&lt; <span class="hljs-string">&quot;Hello World!&quot;</span>;
        <span class="hljs-keyword">return</span> <span class="hljs-number">0</span>;
}</code></pre></div>
<ul>
<li><code class="inline-code">#include</code> tells the pre-processor to include any set header.</li>
<li><code class="inline-code">#include &lt;iostream&gt;</code>: It is called a pre-processor directive.</li>
<li><code class="inline-code">&lt;iostream&gt;</code> is a header that defines the standard stream objects that input and output data.</li>
<li><code class="inline-code">std</code>: stands for standard library.</li>
<li><code class="inline-code">main()</code>: is a function.</li>
<li><code class="inline-code">int</code>: is a data type.</li>
<li><code class="inline-code">cout</code>: output stream object. For writing characters on the computer stream.</li>
<li><code class="inline-code">&lt;&lt;</code>: is a stream insertion operator.</li>
</ul>
<blockquote>
<p>All C++ programs starts to run from the main function.<br>
Each statement ends with a semi-colon(;).</p>
</blockquote>
<p><code class="inline-code">main()</code> function should always have <code class="inline-code">return 0</code>. If the main function return 0, it means the program run fine.</p>
</div>
<h2 id='operators'>Operators</h2>
<h4 id="increament-operator">Increament Operator</h4>
<ul>
<li>Increases an integers value by 1.<br>
Syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">var++ 	//postfix
++var 	//prefix

/* Demo */
int x = 5;
int prefix = ++x; 	//prefix = 6
int postfix = x++; 	//postfix = 5</pre><pre class="hljs"><code>var++ 	<span class="hljs-comment">//postfix</span>
++var 	<span class="hljs-comment">//prefix</span>

<span class="hljs-comment">/* Demo */</span>
<span class="hljs-keyword">int</span> x = <span class="hljs-number">5</span>;
<span class="hljs-keyword">int</span> prefix = ++x; 	<span class="hljs-comment">//prefix = 6</span>
<span class="hljs-keyword">int</span> postfix = x++; 	<span class="hljs-comment">//postfix = 5</span></code></pre></div>
</li>
<li>For the postfix, the value of x is assigned to it and then x is increased by 1.</li>
<li>For the prefix, the value of x is increased and then assigned to it.</li>
</ul>
<h4 id="decreament-operator">Decreament operator</h4>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">var-- 	//postfix
--var 	//prefix</pre><pre class="hljs"><code>var-- 	<span class="hljs-comment">//postfix</span>
--var 	<span class="hljs-comment">//prefix</span></code></pre></div>
<h4 id="logical-operators">Logical Operators</h4>
<ul>
<li>&amp;&amp; : AND</li>
<li>|| : OR</li>
<li>! : NOT</li>
</ul>
</div>
</div>
<button
    class="btn btn-danger main__button"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseOne"
    aria-expanded="true"
    aria-controls="collapseOne"
>
Close
</button>
    </div>
</div>