<div class="html">
    <div class="body">
<div id="rendered-md"><h2 id="if-statement">If Statement</h2>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">if (condition) {
    //Statements
}
else if (condition) {
    //Statements
}
else {
    //Statements
}</pre><pre class="hljs"><code><span class="hljs-keyword">if</span> (condition) {
    <span class="hljs-comment">//Statements</span>
}
<span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (condition) {
    <span class="hljs-comment">//Statements</span>
}
<span class="hljs-keyword">else</span> {
    <span class="hljs-comment">//Statements</span>
}</code></pre></div>
<blockquote>
<p>A loop repeatedly executes a set of statements until a particular condition is satisfied.</p>
</blockquote>
<h2 id="while-loop">While Loop</h2>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">while (condition) {
    //Statements
}</pre><pre class="hljs"><code><span class="hljs-keyword">while</span> (condition) {
    <span class="hljs-comment">//Statements</span>
}</code></pre></div>
<h2 id="for-loop">For Loop</h2>
<p>Syntax:</p>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">for (init; condition; increment) {
    //Statements
}</pre><pre class="hljs"><code><span class="hljs-keyword">for</span> (init; condition; increment) {
    <span class="hljs-comment">//Statements</span>
}</code></pre></div>
<h2 id="do-while-loop">Do While Loop</h2>
<ul>
<li>Used to ensure that a code runs at least one time before it is tested.<br>
Syntax:</li>
</ul>
<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">do {
    //Statements
}
while (condition);</pre><pre class="hljs"><code><span class="hljs-keyword">do</span> {
    <span class="hljs-comment">//Statements</span>
}
<span class="hljs-keyword">while</span> (condition);</code></pre></div>
<h2 id="switch-statement">Switch Statement</h2>
<ul>
<li>The switch statement tests a variable against a list of values, which are called cases, to determine whether it is equal to any of them.</li>
<li><code class="inline-code">default</code> runs when none of the cases are true.</li>
<li>Syntax:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">switch (expression) {
    case value1:
        //Statement
        break;
    case value2:
        //Statement
        break;
    ...
    default:
        //Statement	
}</pre><pre class="hljs"><code><span class="hljs-keyword">switch</span> (expression) {
    <span class="hljs-keyword">case</span> value1:
        <span class="hljs-comment">//Statement</span>
        <span class="hljs-keyword">break</span>;
    <span class="hljs-keyword">case</span> value2:
        <span class="hljs-comment">//Statement</span>
        <span class="hljs-keyword">break</span>;
    ...
    <span class="hljs-keyword">default</span>:
        <span class="hljs-comment">//Statement	</span>
}</code></pre></div>
</li>
</ul>
</div></div>
    </div>
</div>