<div class="html">
    <div class="body">
<div id="rendered-md"><ul>
<li><code class="inline-code">endl</code> : ends a line. ('<code class="inline-code">\n</code>' also ends a line).</li>
<li><code class="inline-code">cin</code>: is called the input stream object.</li>
<li><code class="inline-code">&gt;&gt;</code>: is called stream extraction operator.</li>
<li><code class="inline-code">//</code> for single line comments.</li>
<li><code class="inline-code">/* */</code> for multi-line comments.</li>
</ul>
<p>In the current C++, it is not compulsory to add return 0 at the last line of <code class="inline-code">int main</code> function.</p>
<ul>
<li><code class="inline-code">sizeof</code> function determines the size of a variable in bytes. E.g. <code class="inline-code">sizeof(var)</code></li>
<li><code class="inline-code">(*this)</code> means deferencing a pointer. (where <code class="inline-code">this</code> can be any pointer)</li>
</ul>
</div></div>
    </div>
</div>