<div class="html">
    <div class="body">
        <div id="rendered-md"><ul>
<li>It accesses the value of a variable.</li>
<li>It is mainly used for operator overloading.</li>
<li>Sample:<div class="joplin-editable"><pre class="joplin-source" data-joplin-language="cpp" data-joplin-source-open="```cpp&#10;" data-joplin-source-close="&#10;```">void printCrap(){
    cout &lt;&lt; &quot;h = &quot; &lt;&lt; h &lt;&lt; endl;
    cout &lt;&lt; &quot;this-&gt;h = &quot; &lt;&lt; this-&gt;h &lt;&lt; endl;
    cout &lt;&lt; &quot;(*this).h = &quot; &lt;&lt; (*this).h &lt;&lt; endl;</pre><pre class="hljs"><code><span class="hljs-function"><span class="hljs-keyword">void</span> <span class="hljs-title">printCrap</span><span class="hljs-params">()</span></span>{
    <span class="hljs-built_in">cout</span> &lt;&lt; <span class="hljs-string">&quot;h = &quot;</span> &lt;&lt; h &lt;&lt; <span class="hljs-built_in">endl</span>;
    <span class="hljs-built_in">cout</span> &lt;&lt; <span class="hljs-string">&quot;this-&gt;h = &quot;</span> &lt;&lt; <span class="hljs-keyword">this</span>-&gt;h &lt;&lt; <span class="hljs-built_in">endl</span>;
    <span class="hljs-built_in">cout</span> &lt;&lt; <span class="hljs-string">&quot;(*this).h = &quot;</span> &lt;&lt; (*<span class="hljs-keyword">this</span>).h &lt;&lt; <span class="hljs-built_in">endl</span>;</code></pre></div>
</li>
<li><code class="inline-code">this</code> is a special type of pointer thst stores the memory address of the current object you're working with.</li>
</ul>
</div></div>
    </div>
</div>